.single {
    .post {
        padding-block: 3rem;
        @media (min-width: 1200px) {
            padding-block: 7rem;
        }
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.55rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    h4 {
        font-size: 1rem;
    }
    @media (min-width: 1200px) {
        h1 {
            font-size: 3rem;
        }
        h2 {
            font-size: 2.25rem;
        }
        h3 {
            font-size: 1.5rem;
        }
        h4 {
            font-size: 1.25rem;
        }
    }

    p {
        margin-block: 10px;
    }
    h1, h2, h3, h4, h5, h6 {
        margin-block: 20px;
    }
    .post-title-wrapper {
        margin-bottom: 3rem;
        gap: 20px;
        display: flex;
        flex-direction: column;
        @media (min-width: 1200px) {
            margin-bottom: 7rem;
            gap: 50px;
            flex-direction: row;
            > * {
                width: 50%;
            }
        }
    }
    .entry-meta {
        gap: 10px;
        display: flex;
    }
    .entry-meta > * {
        background-color: #93E100;
        color: #1D1D1D;
        padding: 2px 10px 2px 10px;
        border-radius: 30px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
        width: -moz-fit-content;
        width: fit-content;
    }
    .post-thumbnail {
        display: flex;
        align-items: center;
        img {
            width: 100%;
            height: auto;
            border-radius: 50px;
        }
    }
    .wp-block-button__link {
        border-radius: 50px;
        padding: 20px 40px;
        font-size: 15px;
        font-weight: 600;
        display: flex;
        align-items: center;
        box-shadow: 0px 0px 40px -15px rgba(46, 67, 117, 0.5);
        text-transform: capitalize;
        color: #1D1D1D;
        background-color: #93E100;
        border: 1px solid #93E100;
        margin-block: 20px;
        &:hover {
            background-color: transparent;
            color: #93E100;
        }
        
    }
}
@media (max-width: 1199px) {
    .entry-content {
        .wp-block-media-text {
            display: block;
        }
        .wp-block-media-text>.wp-block-media-text__content {
            padding: 0;
        }
    }
}