// wickie colors
$light-green: #93E100;
$green: #78E87D;
$turquoise: #5FF3DC;
$lighter-blue: #00E3FF;
$light-blue: #19B8DF;
$blue: #00A6FF;
$dark-blue: #002A3F;

$primary: #002A3F;
$secondary: #93E100;
$error-color: #FF4C51;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "./header/header";
@import "./footer/footer";
@import "./components/hero";
@import "./components/feature-cards";
@import "./components/popular-services";
@import "./components/steps";
@import "./components/content-card";
@import "./components/feature-boxes";
@import "./components/pricing";
@import "./components/banner";
@import "./components/testimonials";
@import "./components/blog-posts";
@import "./components/credit-card";
@import "./components/rewards";
@import "./components/market";
@import "./components/hero-single";
@import "./components/services";
@import "./components/banner-boxed";
@import "./components/banner-two-buttons";
@import "./components/image-content";
@import "./components/icon-boxes";
@import "./components/faq";
@import "./components/get-started";
@import "./components/credit-card-content";
@import "./components/contact-info";
@import "./components/contact-boxes";
@import "./components/contact-form";
@import "./components/headline-subline-text";
@import "./components/images";
@import "./components/hero-new";
@import "./components/coming-soon-overlay";
@import "./components/team";
@import "./components/downloads";

//TODO remove the following when done mobile
#page {
    overflow: hidden;
}

body {
    background-color: #f5f5f7;
    font-family: 'Inter', sans-serif;
    font-size: 1.125rem;
}
p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

a:hover {
    .btn-link {
        color: $secondary;
    
        i {
            background-color: $secondary;
            color: #FFFFFF;
        }
    }

    .btn-white {
        color: #FFFFFF;
    }

    .btn-primary {
        background-color: transparent;
        color: $primary;
    }
}
.btn {
    i {
        display: flex;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 2.75rem;
    font-weight: 600;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600; 
}

.btn-primary {
    border-radius: 50px;
    padding: 20px 40px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 40px -15px rgba(45.99999999999999, 66.99999999999999, 117, 0.5);
    text-transform: capitalize;

    i {
        margin-left: 10px;
        font-size: 25px;
    }
}

.btn-primary:hover {
    background-color: transparent;
    color: $primary;
}

.btn-secondary {
    border-radius: 50px;
    padding: 20px 40px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 40px -15px rgba(45.99999999999999, 66.99999999999999, 117, 0.5);
    text-transform: capitalize;
    color: #1D1D1D;

    i {
        margin-left: 10px;
        font-size: 25px;
    }
}

.btn-secondary:hover {
    background-color: transparent;
    color: $secondary;
}

.btn-white {
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 15px;
    box-shadow: none;  
    background-color: #FFFFFF;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    @include media-breakpoint-up(lg) {
        border-radius: 50px;
        padding: 20px 40px;
        font-size: 16px;
        box-shadow: 0px 0px 40px -15px rgba(45.99999999999999, 66.99999999999999, 117, 0.5);
    }

    i {
        margin-right: 10px;
        font-size: 25px;
    }
}

.btn-white:hover {
    border: 1px solid #FFFFFF;
}

.btn-link {
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    color: $primary;
    text-transform: capitalize;
    @include media-breakpoint-up(lg) {
        font-size: 16px;
    }

    i {
        margin-left: 10px;
        background-color: $primary;
        color: #FFFFFF;
        border-radius: 100%;
        padding: 4px 4px;
        font-size: 12px;
    }
}

.btn-link:hover {
    color: $secondary;

    i {
        background-color: $secondary;
        color: #FFFFFF;
    }
}

.btn-outline {
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 15px;
    background-color: transparent;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    @include media-breakpoint-up(lg) {
        font-size: 16px;
        border-radius: 50px;
        padding: 20px 40px;
    }

    i {
        margin-right: 10px;
        font-size: 25px;
    }
}
.btn-outline:hover {
    background-color: #FFFFFF;
    color: $primary;
    box-shadow: 0px 0px 40px -15px rgba(45.99999999999999, 66.99999999999999, 117, 0.5);
}

.highlight {
    background-color: $secondary;
    color: #1D1D1D;
    padding: 2px 10px 2px 10px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    width: fit-content;
}

.legal-table {
    overflow: auto;
    width: 100%;
    border-radius: 20px;
    background: #FFFFFF;
    padding: 20px;
}

.legal-table table {
    border: 1px solid #dededf;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
    border-radius: 20px;
    overflow: hidden;

    .lega-table-big-column {
        width: 25%;
    }
}

.legal-table.overflow-scrollable {
    overflow-x: auto;
    display: block;
    max-width: 100%;
}

.legal-table.overflow-scrollable table {
    table-layout: auto; /* Spalten passen sich dem Inhalt an */
    width: 100%; /* Verhindert, dass die Tabelle zusammengeschoben wird */
    border-collapse: collapse; /* Optional, damit keine unnötigen Abstände entstehen */
}

@media (max-width: 768px) {
    .legal-table.overflow-scrollable {
        white-space: nowrap; /* Verhindert das Umbrechen des Inhalts */
    }
}


.legal-table th:first-child {
    border-top-left-radius: 10px;
}

.legal-table th:last-child {
    border-top-right-radius: 10px;
}

.legal-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.legal-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}


.legal-table caption {
    caption-side: top;
    text-align: left;
}

.legal-table th {
    border: 1px solid #dededf;
    background-color: #eceff1;
    color: #000000;
    padding: 5px;
}

.legal-table td {
    border: 1px solid #dededf;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
}
span:has(.legal-table.overflow-scrollable) {
    width: 100%;
}

@media (max-width: 1023px) {
    .container:has(.legal-table.overflow-scrollable) {
        overflow-x: auto; /* Scrollbar nur, wenn .legal-table vorhanden ist */
    }
    
    .legal-table {
        overflow-x: auto;
        display: block;
        max-width: 100%;
    }
    .legal-table table {
        table-layout: auto; /* Spalten passen sich dem Inhalt an */
        width: 100%;
    }
}

.video {
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (9/16 * 100) */
    height: 0;
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; /* Remove the iframe border */
}
.coming-soon {
    position: absolute;
    display: inline-flex;
    align-items: center;
    margin-left: 8px;
}

.coming-soon .badge {
    color: $secondary!important;
    padding: 0;
    border-radius: 12px;
    font-size: 10px!important;
    font-weight: bold!important;
    display: flex;
    align-items: center;
}

.coming-soon .badge i {
    margin-right: 4px; /* Space between icon and text */
    font-size: 15px;
}
img {
    max-width: 100%;
}
.padding-top {
    padding-top: 7rem !important;
}
.padding-bottom {
    padding-bottom: 7rem !important;
}
.margin-top {
    margin-top: 7rem !important;
}
.margin-bottom {
    margin-bottom: 7rem !important;
}
.full-height {
    height: calc(100vh - 148px);
    display: flex;
    align-items: center;
    padding-top:0;
    padding-bottom:0;
}
.is-front-page {
    margin-top: -116px;
    height: calc(100vh - 32px);
}
.hide-desktop {
    display: none;
}
.accordion-button:not(.collapsed)::after {
    padding-left: 2.5px!important;
}
.accordion-item:last-of-type {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.margin-left-auto {
    margin-left: auto;
}
.padding-left-zero {
    padding-left: 0px;
}
.padding-right-zero {
    padding-right: 0px;
}
.padding {
    padding-top: 7rem;
    padding-bottom: 7rem;
}
@media (max-width: 1024px) {
    .highlight {
        font-size: 0.7rem;
    }
    .padding {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .full-height {
        height: auto;
        display: flex;
        align-items: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .is-front-page {
        margin-top: -116px;
        height: calc(100vh - 32px);
    }
    .padding-top {
        padding-top: 5rem !important;
    }
    .padding-bottom {
        padding-bottom: 5rem !important;
    }
    .margin-top {
        margin-top: 5rem !important;
    }
    .margin-bottom {
        margin-bottom: 5rem !important;
    }
    .hide-mobile {
        display: none!important;
    }
}

@media (max-width: 768px) {
    .container {
        padding-right: calc(var(--bs-gutter-x) * 0.75);
        padding-left: calc(var(--bs-gutter-x) * 0.75);
      }
    .padding {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .btn-white, .btn-primary, .btn-secondary {
        padding: 13px 20px;
    }
    .btn-white.round {
        padding: 15px;
        i {
            font-size: 20px;
        }
    }

    .hide-desktop {
        display: block;
    }
    .full-height {
        height: auto;
        display: flex;
        align-items: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .is-front-page {
        margin-top: -116px;
        height: calc(100vh - 32px);
    }
    .padding-top {
        padding-top: 3rem !important;
    }
    .padding-bottom {
        padding-bottom: 3rem !important;
    }
    .margin-top {
        margin-top: 3rem !important;
    }
    .margin-bottom {
        margin-bottom: 3rem !important;
    }
}
@include media-breakpoint-up(sm) {
    h1 {
        font-size: 3.5rem;
        font-weight: 600;
    }
    
    h2 {
        font-size: 3rem;
        font-weight: 600; 
    }
}
@include media-breakpoint-up(md) {
    h1 {
        font-size: 4rem;
        font-weight: 600;
    }
    
    h2 {
        font-size: 3.5rem;
        font-weight: 600; 
    }
}
@include media-breakpoint-up(lg) {
    h1 {
        font-size: 4rem;
        font-weight: 600;
    }
    
    h2 {
        font-size: 4rem;
        font-weight: 600; 
        letter-spacing: -2px;
    }
}
@include media-breakpoint-up(xl) {
    h1 {
        font-size: 5rem;
        font-weight: 600;
    }
    
    h2 {
        font-size: 4rem;
        font-weight: 600; 
    }
}
@include media-breakpoint-up(xxl) {
    h1 {
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: -3px;
    }
    
    h2 {
        font-size: 3.5rem;
        font-weight: 600; 
    }
    h3 {
        letter-spacing: -1px;
    }
}
@media (min-width: 1600px) {
    h1 {
        font-size: 5.5rem;
        font-weight: 600;
        letter-spacing: -3px;
    }
    
    h2 {
        font-size: 4.5rem;
        font-weight: 600; 
    }
    h3 {
        letter-spacing: -1px;
    }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}