.banner-boxed {
    padding-top: 7rem;
    padding-bottom: 7rem;

    .container {
        background: linear-gradient(to right, #93E100, #00A6FF);
        border-radius: 20px;
        padding: 0;
        box-shadow: 0px 0px 40px -15px rgba(46, 67, 117, 0.5);

        .container-wrapper {
            color: #FFFFFF;
            text-align: center;
            padding: 7rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            position: relative;
            background: no-repeat;
            background-position: right bottom;
            border-radius: 20px;

            .subline {
                display: flex;
                gap: 10px;
                font-size: 18px;
                .highlight {
                    display: flex;
                    align-items: center;
                }
            }

            h2 {
                text-align: center;
            }

            .text {
                padding-left: 5rem;
                padding-right: 5rem;
            }

            .buttons {
                display: flex;
                gap: 20px;
                margin-top: 20px;

                a {
                    display: flex;
                    .btn-white i {
                        margin-left: 10px;
                    }

                    .btn-no-text {
                        padding: 20px;

                        i {
                            margin: 0;
                        }
                    }

                    .btn-link {
                        color: #FFFFFF;
                        i {
                            background-color: #FFFFFF;
                            color: $primary;
                        }
                    }

                    &:hover {
                        .btn-link {
                            color: $secondary;
                            i {
                                background-color: $secondary;
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }

            .floating {
                position: absolute;
                top: 40px;
                left: -100px;
            }
        }
    }

    @media (max-width: 1024px) {
        padding-top: 5rem;
        padding-bottom: 5rem;

        .container {
            .container-wrapper {
                padding: 5rem;
                gap: 20px;

                .subline {
                    flex-direction: column;
                    text-align: center;
                    font-size: 16px;
                }

                .text {
                    padding-left: 3rem;
                    padding-right: 3rem;
                }

                .floating {
                    left: -50px;
                    top: 20px;
                    width: 150px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        padding-top: 3rem;
        padding-bottom: 3rem;

        .container {
            .container-wrapper {
                padding: 3rem;
                gap: 15px;

                .buttons.buttons-social-media {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                }

                h2 {
                    font-size: 24px;
                }

                .subline {
                    flex-direction: column;
                    text-align: center;
                    font-size: 14px;
                }

                .text {
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                    font-size: 16px;
                }

                .buttons {
                    flex-direction: column;
                    gap: 10px;
                    a {
                        .btn-no-text {
                            padding: 13px;
                        }
                    }
                }

                .floating {
                    left: 0;
                    top: 10px;
                    width: 120px;
                }
            }
        }
    }
}
