.content-card {
    padding-top: 7rem;
    padding-bottom: 2rem;

    &.content-card-list {
        padding-bottom: 7rem;

        .container {
            .content-wrapper {
                background: $primary;
            }
        }
    }

    .container {
        .content-wrapper {
            box-shadow: 0px 0px 40px -15px rgba(46, 67, 117, 0.5);
            background: linear-gradient(to right, #93E100, #00A6FF);
            display: flex;
            flex-direction: row;
            border-radius: 20px;

            .content {
                flex: 0 0 var(--text-column-size, 40%);
                padding: 40px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: flex-start;
                color: #FFFFFF;
                justify-content: center;

                .list-items {
                    .list-item {
                        display: flex;
                        flex-direction: row;
                        gap: 20px;
                        margin-bottom: 20px;

                        .list-item-icon {
                            i {
                                display: flex;
                                margin-top: 2px;
                                font-size: 1.75rem;
                            }
                        }
                    }
                }

                .cta {
                    display: flex;
                    gap: 20px;
                }

                span {
                    font-size: 18px;
                    margin-bottom: 20px;
                }

                .btn-primary {
                    i {
                        margin-left: 10px;
                    }
                }

                ul {
                    counter-reset: item;
                    margin-left: 0;
                    padding-left: 0;
                }

                li {
                    display: block;
                    margin-bottom: 0.5em;
                    margin-left: 2em;
                }

                li::before {
                    display: inline-block;
                    content: counter(item) " ";
                    counter-increment: item;
                    width: 2em;
                    margin-left: -2em;
                }

                .list-group-numbered {
                    padding-left: 0;

                    .list-group-item {
                        display: flex;
                        align-items: flex-start;
                        margin-bottom: 20px;

                        &::before {
                            text-align: center;
                            margin-right: 20px;
                            font-size: 20px;
                            background-color: $secondary;
                            border-radius: 50px;
                            padding-right: 5px;
                            padding-left: 5px;
                            color: #FFFFFF;
                        }

                        &:nth-child(2) {
                            &::before {
                                padding-right: 0px;
                                padding-left: 0px;
                            }
                        }

                        &:nth-child(3) {
                            &::before {
                                padding-right: 8px;
                                padding-left: 8px;
                            }
                        }

                        .list-group-item-content {
                            span {
                                color: #FFFFFF99;
                            }
                        }
                    }
                }
            }

            .video {
                padding: 40px;
            }

            .image {
                flex: 0 0 calc(100% - var(--text-column-size, 60%));
                display: flex;
                justify-content: center;
            }

            &:hover {
                .btn-primary {
                    background-color: transparent;
                    color: #FFFFFF;
                    border: 1px solid #FFFFFF;
                }
            }
        }
    }

    @media (max-width: 1024px) {
        &.content-card-list {
            padding-bottom: 5rem;
        }
        padding-top: 5rem;
        .container {
            .content-wrapper {
                flex-direction: column;
                .content {
                    padding: 30px;
                    flex: 0 0 100%;
                    .cta {
                        gap: 15px;
                        width: 100%;
                        justify-content: center;
                        a {
                            flex-basis: calc(50% - 7.5px);
                            .btn {
                                width:100%;
                                display: flex;
                                justify-content: center;
                            }
                        }
                    }
                }
                .image {
                    flex: 0 0 100%;
                    padding: 0 20px;
                    img {
                        height: auto!important;
                        max-width: 70%!important;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        &.content-card-list {
            padding-bottom: 3rem;
        }
        padding-top: 3rem;
        .container {
            .content-wrapper {
                box-shadow: none;
                padding-bottom: 0;
                .content {
                    padding: 20px;
                    .cta {
                        gap: 10px;
                        flex-wrap: wrap;
                        a {
                            flex-basis: 100%;
                            display: flex;
                            justify-content: center;
                            .btn-white {
                                width: 100%;
                                display: flex;
                                justify-content: center;
                            }
                        }


                    }
                }
                .image {
                    padding: 20px;
                    padding-bottom: 0px;
                }
            }
        }
    }

    @media (max-width: 576px) {
        .container {
            .content-wrapper {
                box-shadow: none;
                .content {
                    padding: 20px;
                    gap: 15px;

                    .cta {
                        flex-direction: column;
                    }

                    .list-items {
                        .list-item {
                            flex-direction: column;
                            gap: 10px;
                        }
                    }

                    span {
                        font-size: 16px;
                    }
                }
                .image {
                    padding: 10px;
                    padding-bottom: 0;
                }
            }
        }
    }
}
