@include media-breakpoint-up(lg) {

    .hero::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #93E100, #00A6FF);
        z-index: -1;
        @media (min-height: 1000px) {
            height: 80%;
        }
        @media (min-height: 1200px) {
            height: 85%;
        }
    }

    .hero::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: #f5f5f7;
        z-index: -1;
        @media (min-height: 1000px) {
            top: 80%;
        }
        @media (min-height: 1200px) {
            top: 85%;
        }
    }
}

.hero {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #FFFFFF;
    background: linear-gradient(to right, #93E100, #00A6FF);
    @include media-breakpoint-up(lg) {
        background: none;
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
    
    .container {
        display: flex;
        flex-direction: column;

        .content {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            margin-bottom: 40px;
        }

        span {
            margin-bottom: 40px;
            font-size: 22px;
        }

        .cta {
            margin-bottom: 20px;
            display: flex;
            gap: 20px;
            flex-direction: column;
            align-items: center;
            @include media-breakpoint-up(lg) {
                flex-direction: row;
                margin-bottom: 100px;
            }
            a.btn-white {
                display: flex;
                i {
                    margin-left: 10px;
                }
            }

            a.btn-link {
                color: #FFFFFF;
                display: flex;
                i {
                    background-color: #FFFFFF;
                    color: $primary;
                }
            }
            a.btn-link:hover {
                color: $secondary;
                display: flex;  
                i {
                    background-color: $secondary;
                    color: #FFFFFF;
                }
            }
        }
        .image {
            @include media-breakpoint-up(lg) {
                display: none;
            }
        }
        .images {
            position: relative;
            display: none!important;
            @include media-breakpoint-up(lg) {
                display: flex!important;
            }
            
            .top-left {
                position: absolute;
                top: 20px;
                left: 0px;
            }

            .bottom-left {
                left: 0px;
                bottom: 0px;
                position: absolute;
            }

            .top-right {
                position: absolute;
                top: 45px;
                right: 0px;
            }

            .bottom-right {
                right: 0px;
                bottom: 20px;
                position: absolute;
            }

            .center {
                display: flex;
                justify-content: center;
            }

            img {
                border-radius: 20px;
                box-shadow: 0px 0px 40px -15px rgba(45.99999999999999, 66.99999999999999, 117, 0.5);
            }
        }
    }
}