.rewards {
    padding-bottom: 50px;

    .container {
        display: flex;
        gap: 50px;

        .content-wrapper {
            box-shadow: 0px 0px 40px -15px rgba(45.99999999999999, 66.99999999999999, 117, 0.5);
            background: linear-gradient(to right, #93E100, #00A6FF);
            display: flex;
            border-radius: 20px;
            flex-basis: calc(40% - 25px);
            padding: 40px;
            justify-content: center;

            .subline {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .btn-link {
                    color: #FFFFFF;
                    font-size: 16px;

                    i {
                        background-color: #FFFFFF;
                        color: $primary;
                    }
                }

            }
    
            .content {
                flex: 0 0 50%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: flex-start;
                color: #FFFFFF;
                justify-content: center;

                .highlight {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0;
                    font-size: 13px;
                }
                
                span {
                    font-size: 18px;
                    margin-bottom: 20px;
                }

                .btn-primary {
                    font-size: 15px;
                    i {
                        margin-left: 10px;
                    }
                }
            }
    
            .image {
                border-radius: 20px;
                display: flex;
                flex-basis: calc(50% - 25px);
                justify-content: center;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                align-items: center;

                img {
                    width: fit-content;
                    height: fit-content;
                    max-height: 220px;
                }
            }

            &:hover {
                .btn-primary {
                    background-color: transparent;
                    color: $primary;
                    border: 1px solid $primary;
                }
            }
        }
        .content-wrapper.cryptoback {
            background: #FFFFFF;
            flex-basis: calc(60% - 25px);

            .content {
                color: $primary;
            }
        }
        .content-wrapper.token {
            flex-direction: column;
        }

        .content-wrapper:hover {
            .subline {
                .btn-link {
                    color: $secondary;

                    i {
                        background-color: $secondary;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
    @media (max-width: 1024px) {
        .container {
            .content-wrapper {
                .content {
                    .highlight {
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
    // Tablet View (768px - 1024px)
    @media (max-width: 1023px) and (min-width: 768px) {
        padding-bottom: 30px;
        .container {
            flex-direction: column;
            gap: 30px;

            .content-wrapper {
                flex-direction: column;
                flex-basis: 100%;
                padding: 30px;

                .content {
                    flex: 100%;
                    text-align: center;
                    align-items: center;
                }

                .image {
                    flex: 100%;
                    background-position: center;
                    margin-top: 20px;
                    height: 250px;
                }
            }
        }
    }

    // Mobile View (max-width: 768px)
    @media (max-width: 768px) {
        padding-bottom: 30px;

        .container {
            flex-direction: column;
            gap: 30px;

            .content-wrapper {
                flex-direction: column;
                flex-basis: 100%;
                padding: 20px;

                .content {
                    flex: 100%;
                    text-align: center;
                    align-items: center;
                }

                .image {
                    flex: 100%;
                    margin-top: 20px;
                    height: 200px;
                }
            }
        }
    }
}
